<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="home.css" />
</head>
<body>
    <header>
        <h1>Welcome to airbnb</h1>
        <h1><data value=""></data></h1>
        <ul>
            <li></li>
        </ul>
    </header>
    <main>
        <a href="user/rent/home">Rent Home</a>
        <br>
        <a href="host/add/home">Add Home</a>
    </main>
</body>
</html>