<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 className="text-red-500">Welcome to Home Page</h1>
        <h2 className=""> 16-07-2026</h2>
        <h3>hiii , sahil is here!</h3>
    </header>
    <main>
        <a href="/">home page</a>
        <a href="/add-home">Add Home</a>
    </main>
    <footer>

    </footer>
</body>
</html>